<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/user_styles.css">
</head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<body>
    <div class="container">
        <div class="user-info">
            <h1>User Details</h1>
            <p><strong>Name:</strong> {{ user_data['name'] }}</p>
            <p><strong>Age:</strong> {{ user_data['age'] }}</p>
            <p><strong>Place:</strong> {{ user_data['place'] }}</p>
            <p><strong>Bio:</strong> {{ user_data['bio'] }}</p>
            <p><strong>Username:</strong> {{ user_data['username'] }}</p>
            <p><strong>Email:</strong> {{ user_data['email'] }}</p>
            <button id="modify-button">Modify</button>
        </div>
        <div class="profile-image">
            <img src="{{ user_data['avatar'] }}" alt="User Avatar">
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const modifyButton = document.getElementById("modify-button");

        modifyButton.addEventListener("click", function () {
            window.location.href = "/edit"; // Redirect to the '/edit' route
        });
    });
    </script>

</body>
</html>
